* {
    padding: 0;
    margin: 0;  box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    }
    
    header{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 33px 9%;
        background: transparent;
    }
    
    .hidden-nav {
        display: none;
    }
    
    .logo-texte{
        font-size: 30px;
        font-weight: 700;
        color: rgb(204, 24, 24);
    }
    
    .logo{
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        font-weight: 700;
        color: rgb(204, 24, 24);
    }
    
    .navlist{
        display: flex;
    }
    
    .navlist a{
        color: azure;
        margin-left: 60px;
        font: 15px;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        transition: all .55s ease;
    }
    
    .navlist a:hover{
    border-bottom: 2px solid white;
    }
    
    #menu-icon{
        color: white;
        font-size: 35px;
        z-index: 10001;
        cursor: pointer;
        display: none;
    }
    
    .tattoo{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(245.59deg, #1c1c1c 0%, #080706 28.53%, #080808 75.52%);
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }
    
    .contact {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(245.59deg, #1c1c1c 0%, #080706 28.53%, #080808 75.52%);
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }

    .legal-mention{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(245.59deg, #1c1c1c 0%, #080706 28.53%, #080808 75.52%);
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }
    
    section{
        padding: 0 19%;
    }
    
    .tattoo-text h5{
        font-size: 14px;
        font-weight: 400;
        color: white;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    
    .tattoo-text h1{
        font-family: 'Caveat', cursive;
        font-size: 70px;
        line-height: 1;
        color: white;
        margin: 0 0 30px;
        margin-left: 20px;
    }
    
    .tattoo-text h4{
        font-size: 18px;
        font-weight: 600;
        color: white;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    .tattoo-text p{
        color: white;
        font-size: 15px;
        line-height: 1, 9;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    
    .tattoo-text a{
        display: inline-block;
        color: white;
        background: #1c1c1c;
        border: 1px solid transparent;
        padding: 12px 30px;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 500;
        border-radius: 30px;
        text-transform: uppercase;
        transition: all .55s ease;
        margin-bottom: 10px;
    }
    
    .tattoo-text a:hover{
        background: transparent;
        border: 1px solid white;
        transform: translateY(-10%);
    }
    
    .tattoo-text a.ctaa a.cta{
        background: transparent;
        border: 1px solid white;
        margin-left: 20px;
        font-size: 11px;
    }
    
    .tattoo-text a.ctaa i{
        vertical-align: middle;
        margin-right: 5px;
    }
    
    .tattoo-text a.cta i{
        vertical-align: middle;
        margin-right: 5px;
    }
    
    .icons{
        position: absolute;
        top: 38%;
        padding: 0 9%;
        transform: translateX(-10%);
    }
    
    .icons i{
        display: block;
        margin: 26px 0;
        font-size: 24px;
        color: white;
        transition: all .50s ease;
    }
    
    .icons i:hover{
        color: #dadada;
        transform: translateY(-5px);
    }
    
    .avis {
        position: relative; /* Assurez-vous que la position est relative pour positionner le bouton à l'intérieur */
    }
    
    .scroll-down {
        position: fixed; /* Position fixe pour que le bouton reste à l'écran */
        bottom: 20px; /* Ajustez la distance du bas de la page */
        right: 40px; /* Ajustez la distance de la droite de la page */
        z-index: 1000; /* Assurez-vous que le bouton est au-dessus du contenu */
    }
    
    .scroll-down a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px; /* Ajustez la largeur pour la faire égale à la hauteur */
        height: 40px; /* Ajustez la hauteur pour la faire égale à la largeur */
        font-size: 20px;
        color: white;
        background-color: #1c1c1c;
        border: 1px solid white;
        border-radius: 50%; /* Rendez le bouton parfaitement rond */
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .scroll-down i {
        vertical-align: middle;
        text-align: center;
    }
    
    .scroll-down a:hover {
        background-color: #333; /* Changez la couleur de fond au survol si nécessaire */
        transform: translateY(-5px);
    }
    
    @media screen and (max-width: 1535px){
        header{
            align-items: center;
            padding: 15px 3%;
            transition: .2s;
        }
        .icons{
            padding: 0 3%;
            transition: .2s;
        }
        .scroll-up{
            right: 3%;
            transition: .2s;
        }
    }
    
    @media screen and (max-width: 1460px){
        section{
            padding: 0 12%;
            transition: .2s;
        }
    }
    
    @media screen and (max-width: 1340px){
        .tattoo-image img{
            width: 100%;
            height: auto;
        }
        .tattoo-text h1{
            font-size: 75px;
            margin: 0 0 30px;
        }
        .tattoo-text h5{
            margin-bottom: 25px;
        }
    }
    
    @keyframes floating {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    
    #floating-image {
        animation: floating 2s infinite ease-in-out; /* Utilisez l'animation avec une durée de 2 secondes et une répétition infinie */
    }
    
    @media screen and (max-width: 780px){
        section{
            padding: 0 3%;
            transition: .2s;
        }
        .tattoo-text{
            padding-top: 115px;
            text-align: center;
        }
        .tattoo-image{
            text-align: center;
        }
        .tattoo-image img{
            width: 560px;
            height: auto;
        }
        .tattoo{
            height: 100%;
            gap: 1rem;
            grid-template-columns: 1fr;
        }
        .icons{
            display: none;
        }
        .scroll-up{
            display: none;
        }
    }
    
    @media screen and (max-width: 1100px){
        #menu-icon{
            display: block;
        }
    
        .navlist{
            position: absolute;
            top: 100%;    
            right: -100%;
            width: 300px;
            height: 40vh;
            background: #1c1c1c;
            display: block;
            align-items: center;
            flex-direction: grid;
            padding: 30px 20px;
            border-radius: 30px;
            transition: all .55s ease;
        }
        .navlist a{
            display: block;
            margin: 10px 0;
            margin-left: 0;
            text-align: center;
            text-decoration: none;
            
        }
        .navlist.open{
            right: 0;
        }
    }
    
    @media screen and (max-width: 780px){
        .tattoo-image img{
            width: 100%;
            height: auto;
        }
    }
    
    /* page contact */
    
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1px 0; /* Ajoutez un padding pour espacer les éléments */
    }
    
    .contact h1 {
        color: white;
        font-size: 36px;
        margin-top: 200px;
        margin-bottom: 20px;
    }
    
    .contact p {
        color: white;
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .contact-info {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 16px;
    }
    
    .info-item i{
        padding-right: 10px;
    }
    
    /* Footer */
    
    footer {
        background-color: #1c1c1c;
        color: white;
        padding: 20px 0;
        align-items: center;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-logo a {
        font-size: 24px;
        font-weight: 700;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        padding-left: 10px;
    }
    
    .footer-navlist {
        list-style: none;
        display: flex;
        justify-content: center; /* Centrer horizontalement */
        align-items: center;
    }
    
    .footer-navlist li {
        margin-right: 40px;
    }
    
    .footer-navlist a {
        color: white;
        text-decoration: none;
        text-align: center;
    }
    
    .footer-icons a {
        color: white;
        margin-right: 10px;
        font-size: 20px;
        text-decoration: none;
    }
    
    .footer-bottom {
        margin-top: 20px;
        text-align: center;
    }
    
    /* Affichage dynamique */
    

@media screen and (max-width: 900px) {
footer {
    padding: 20px 0;
    text-align: center; /* Pour centrer le contenu horizontalement */
}

.footer-content {
    display: flex;
    flex-wrap: wrap; /* Pour permettre le retour à la ligne */
    justify-content: center;
    align-items: center;
}

.footer-icons,
.footer-navlist,
.footer-logo {
    flex: 1; /* Pour occuper une largeur égale */
    margin: 10px; /* Espacement entre les sections du pied de page */
}

.footer-navlist {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Pour permettre le retour à la ligne */
}

.footer-navlist li {
    margin-right: 20px;
}

.footer-navlist a {
    color: white;
    text-decoration: none;
    text-align: center;
}

    }
    
    .rdv-box{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(245.59deg, #1c1c1c 0%, #080706 28.53%, #080808 75.52%);
        position: flex;
        display: grid;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 70px;
        gap: 2rem;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .container{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 100px;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .container:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        filter: blur(50px);
        z-index: -1;
    }
    .contact-box{
        max-width: auto;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #1c1c1c;
        border-radius: 30px;
    }
    
    .left{
        background-size: cover;
        height: auto;
    }
    
    .right{
        padding: 25px 40px;
    }
    
    h2{
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 10px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    h2:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: white;
    }
    
    .field{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
    }
    
    .field:hover{
        background-color: rgba(193, 193, 193, 0.1);
    }
    
    textarea{
        min-height: 150px;
    }
    
    .btn{
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: rgb(204, 24, 24);
        color: #fff;
        font-size: 1.1rem;
        border: none;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        transition: .3s;
    }
    
    .btn:hover{
        background-color: rgb(171, 19, 19);
    }
    
    .field:focus{
        border: 2px solid rgba(30,85,250,0.47);
        background-color: #fff;
    }
    
    @media screen and (max-width: 880px){
        .container {
            width: auto; /* Ajustez selon vos besoins pour réduire la largeur de la boîte */
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contact-box{
            grid-template-columns: 1fr;
        }
    }
    
    .confirm-title {
        padding-top: 300px;
        text-align: center;
        color: white; /* Couleur du texte */
        font-size: 30px;
    }
    
    .confirm-title h2 {
        margin-bottom: 20px; /* Espacement en bas du titre */
    }
    
    .confirm-text {
        color: white; /* Couleur du texte */
        text-align: justify;
    }
    
    .confirm-title i{
        font-size: 100px;
    }

    .legal-mention {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(245.59deg, #1c1c1c 0%, #080706 28.53%, #080808 75.52%);
        position: relative;
        display: grid;
        grid-template-columns: auto;
        align-items: justify;
        gap: 1rem;
    }
    
    .legal-tittle {
        text-align: justify;
        padding-top: 150px;
        color: white;
    }

    .legal-text{
        text-align: justify;
    }
    
    .legal-mention p {
        color: white;
        font-size: 15px;
        line-height: 1.9;
        margin-bottom: 30px;
        margin-top: 0px;
        display: flex;
        justify-content: justify;
        align-items: justify;
    }

    .legal h1{
        font-family: 'Poppins', cursive;
        font-size: 40px;
        line-height: 1;
        color: white;
    }

    .legal h3{
        font-family: 'Poppins', cursive;
        font-size: 25px;
        color: white;
        padding-top: 30px;
    }